html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.input-search-wallet {
    padding-inline-end: 60px !important;
}

::-webkit-scrollbar-thumb,
* ::-webkit-scrollbar-thumb {
    background: #f0e7db;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    opacity: 1;
    height: 5px;
    width: 5px;
}
